body{
    width: 100%;
    height: 100%;
    background-color: green;
}
body a{
    text-decoration: none;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}
.mainf{

}
.container{
    text-align: center;

}


